<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/app.css"/>
    <title>Document</title>
</head>
<body>
    {% block flashes%}
    {% endblock %}
    <form action="/convert">
        <p>Converting from <input id="from" name="from"></p>
        <p>Converting to <input id="to" name="to"></p>
        <p>Amount: <input id="amount" name="amount"></p>
        <p><button>Convert</button></p>
    </form>
    {% block content %}
    {% endblock %}
</body>
</html>